<div class="container-fluid page">
  <div class="page__box p-3 mt-2"> Detail Model </div>
  <div class="page__content shadow p-3 position-relative">

<div class="container">


  <a href="#" routerLink="/model" class="btn btn-primary">Retour</a>

  <div class="form-group" [(ngModel)]="selectedM">
      <strong ><label class="aa" >ID :</label>  {{ model.id }}  </strong>


  </div>

  <div class="form-group">
      <strong ><label class="aa"> Designation Model :</label> {{ model.desgnModele }}</strong>

  </div >

  <div class="form-group">
    <strong ><label class="cc"> ID Categorie :</label> {{ model.id_cat }}</strong>

</div >

<div class="form-group">
  <strong ><label class="cc"> Nom Categorie :</label> {{ nom_categorie }}</strong>

</div >

<div class="form-group" class="row" *ngFor="let c of c">
  <div class="col-lg-4"> <label>  ID Caracteristique : {{ c.id }} </label></div>
  <div class="col-lg-4"> <label> Désignation Caractéristique : {{ c.desgnCaract }} </label></div>
</div>




</div>
</div>
</div>



