
<div class="container-fluid page">
  <div class="page__box p-3 mt-2"> Detail caracteristique </div>
  <div class="page__content shadow p-3 position-relative">

<div class="container">


  <a href="#" routerLink="/caracteristique" class="btn btn-primary">Retour</a>

  <div class="form-group">
      <strong ><label class="aa">ID :</label>  {{ caract.id }}  </strong>


  </div>

  <div class="form-group">
      <strong ><label class="aa"> Désignation :</label> {{ caract.desgnCaract }}</strong>

  </div >

  <div class="form-group">
      <strong><label class="aa">Libelle:</label> {{ caract.libelle}}</strong>

  </div>


  <div class="form-group">
    <strong> <label class="bb"> Id modele:</label> {{ caract.id_mod }}</strong>

  </div>

  <div class="form-group">
    <strong> <label class="bb"> Nom modele:</label> {{nom_model}}</strong>

  </div>

</div>
</div>
</div>

