<div class="container-fluid page">
  <div class="page__box p-3 mt-2"> Ajouter Model </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container">

        <a href="#" routerLink="/model" class="btn btn-primary">Retour</a>

        <form [formGroup]="form" >

            <div class="form-group">
                <label for="desgnModele">Designation Model:</label>
                <input
                    formControlName="desgnModele"
                    id="desgnModele"
                    type="text"
                    class="form-control">
                <div *ngIf="f['desgnModele'].touched && f['desgnModele'].invalid" class="alert alert-danger">
                    <div *ngIf="f['desgnModele'].errors && f['desgnModele'].errors['required']">designation model is required.</div>
                </div>
            </div>




          <div class="form-group" >
            <label for="id_cat">Nom Catégorie:</label>
            <select formControlName="id_cat">

              <option *ngFor="let categ of categ" [ngValue]="categ.id">{{categ.id}}
                {{ categ.nom_categ }}</option>

            </select>
            <div *ngIf="f['id_cat'].touched && f['id_cat'].invalid" class="alert alert-danger">
              <div *ngIf="f['id_cat'].errors && f['id_cat'].errors['required']">id_F is required.</div>
            </div>
          </div>




            <button class="btn btn-primary" (click)="submit()" type="submit" [disabled]="!form.valid">Ajouter</button>
        </form>
      </div>



    </div>
</div>



